@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@600&family=Roboto:wght@300;400;500&display=swap');


body {
    
    font-family: 'Georgia', sans-serif;
	background-color:black;
	color:white;
}




h1{
	text-align:center;
	
}


table{
	text-align:center;
}


tr td{
	
	text-align:center;
}

img{
	max-width: 100%;
	height:auto;
}


th{
	vertical-align:top;
}